<title>Upload Excel File</title>
<style>
  body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    flex-direction: column;
  }

  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  input[type="file"] {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
</style>

<body>
  <h2>Upload an Excel File</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" accept=".xls,.xlsx" required />
    <button type="submit">Upload</button>
  </form>
</body>
